.forget{
    justify-content: center;
    align-items: center;
    padding-left: 100px ;
    margin-top: 250px;
    margin-left: 350px;
}

.forget-button{
   
    margin-top: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-style:inherit;
    padding-inline: 14px;
    padding-block: 9px;
    min-width: 65px;
    min-height: inherit;
    border-radius:2rem;
    background-color:rgb(210, 81, 61);
}

.body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(254, 253,252);
  }
  
  .form{
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    display: inline-flex;
    box-shadow: 0 0 10px rgb(0,0,0);
    width: 300px;
    height: 400px;
  }

  form h2{
    font-size: 55px;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  form input{
    border: none;
    background:none;
    outline: none;
    text-align: center;
    padding: 10px;
    margin: 20px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 70%;
    border-radius: 40px;
    transition: 0.2s ease-in;
  }

  form input[type="text"],form input[type="password"]{
    border: solid 2px #1B9CFC;
  }

  form input[type="submit"]{
    border: solid 2px #55E6C1;
    box-sizing: border-box;
    height: 50px;
    width: 40%;
    cursor: pointer;

  }
  form input[type="text"]:focus,form input[type="password"]:focus{
    width: 80%;
    border: solid 2px #55E6C1;

  }

  form input[type="submit"]:hover{
   background:  #55E6C1;
   color: #182C61;

  }