body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff0000;
  margin: 0;
  padding: 20px;
}

.reminder-app {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(205, 20, 20, 0.1);
  margin-top: auto; 
  margin-bottom: auto;
}

h1 {
  text-align: center;
  color: #ff0000;
  font-size: 20px;
  margin-bottom: 12px;
}

.calendar-container {
  margin-bottom: 12px;
}

.reminder-form {
  margin-bottom: 12px;
}

.reminder-form label {
  font-weight: bold;
  margin-bottom: 6px;
  display: block;
  font-size: 14px;
}

.reminder-form textarea {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #c16f6f;
  border-radius: 4px;
  resize: none;
}

.reminder-form button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.reminder-form button:hover {
  background-color: #0056b3;
}

.reminder-list {
  padding-top: 12px;
}

.reminder-list h2 {
  color: #ff0000;
  font-size: 18px;
  margin-bottom: 10px;
}

.reminder-list ul {
  list-style-type: none;
  padding: 0;
}

.reminder-list li {
  margin-bottom: 10px;
  padding: 8px;
  background-color: rgb(191, 189, 189);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(170, 21, 21, 0.1);
}

.reminder-list li p {
  margin: 0;
  font-size: 14px;
}

.reminder-list li button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}

.reminder-list li button:hover {
  background-color: #000000;
}
.custom-calendar .react-calendar__tile--active {
  background-color: #007bff;
  color: #000000;
}

.custom-calendar .tile-content {
  font-size: 12px;
  color: #555;
  margin-top: 2px;
}
.react-calendar__tile--active {
  background-color: #007bff; 
  color: #000000;
}
