* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  border: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.login-container {
  background-size: cover;
  background-color: white;
  background-position: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  padding: 40px;
  width: 500px;
  height: 500px;
  text-align: center;
  
  
}

.n{
 color: red;
}

.login-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  outline: none;
  border-color: #ffffff;
}

button {
  background-color: #464849;
  color: #ffffff;
  border: none;
  padding: 14px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: purple;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
}

